/* Variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark: #333333;
    --basic-dark: #666666;
    --basic-neutral: #f2f2f2;
    --basic-extra-blue: #81B3D2;
    --basic-extra-grey: #EEEEEE;
    --basic-white: #ffffff;
    --basic-black-transparent: rgba(0, 0, 0, 0.3);
    --basic-white-transparent: rgb(255, 255, 255, 0.3);
    --extra-white-transparent: rgb(255, 255, 255, 0.21);
    --extra-dark-ransparent: rgba(0, 1, 1, 0.15);
    --extra-grey: #BDBBBC;
    --extra-light-gray: #A9A9A9;
    --extra-dark: #503E33;
    --special-dark: #766357;
    --special-extra-dark: #604E43;
    --special-grey: #EBEBEB;
    --special-extra-grey: #E5E5E5;
    --special-blue: #669EC0;
    --special-extra-blue: #5496BD;
    --special-white-transparent: rgba(255, 255, 255, 0.9);
}

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-neutral);
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
}

.container {
    max-width: 1200px;
    background-color: var(--basic-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}


/* Main header */

.main-header {
    padding: 14px 72px 16px;
    margin: 0;
    position: relative;
}


/* Main navigation */

.main-navigation {
    font-size: 14px;
    line-height: 26px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
}

.site-navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site-navigation li {
    margin: 0;
    padding: 0;
    width: 25%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

.site-navigation a {
    text-decoration: none;
    color: inherit;
}

.site-navigation .active {
    color: var(--special-dark);
}

.site-navigation a:hover {
    color: var(--basic-extra-blue);
}

.site-navigation a:active {
    color: var(--basic-black-transparent);
}


/* Logo */

.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    display: block;
    left: 50%;
    right: 50%;
    margin-left: -69px;
    margin-top: -15px;
}


/* Sedona-description */

.sedona-description {
    background: url("../img/mask.svg") no-repeat center bottom, url("../img/background-index.jpg") no-repeat 50% 0;
    padding: 77.35px 0 78px;
    margin: 0;
}


/* Causes */

.causes {
    padding: 40px 0 0;
    margin: 0;
}

.causes h2 {
    font-size: 21px;
    padding-bottom: 28px;
    margin: 0 auto;
}

.causes p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-extra-dark);
}

.causes-paragraph {
    margin: 16.5px 0 51px;
}

.causes-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.causes-item-bg-color {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.causes-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin: 0 auto;
}

.causes-item span {
    display: block;
    margin: 25px 0 23px;
    line-height: 21px;
    font-weight: normal;
    color: var(--basic-extra-dark);
}

.causes-item p {
    margin: 0;
}

.causes-item-bg-color p {
    max-width: 302px;
}

.causes-item-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.causes-one {
    grid-column-start: 1;
    grid-column-end: -1;
}

.causes-two {
    grid-column-end: -1;
    grid-column-start: 1;
}

.causes-item-padding {
    padding: 47px 49px 54px;
}

.causes-item-padding h3,
.causes-item-padding span,
.causes-item-padding p {
    color: var(--basic-white);
}

.causes-item-bg-color {
    background-color: var(--basic-extra-blue);
}

.causes-item-bg-color div {
    max-height: 256px;
}

.causes-item-bg-color img {
    width: 100%;
    height: 100%;
}

.causes-item.list-item {
    list-style: none;
}

.causes-item.list-item h3 {
    margin: 28px 0 25px;
}

.causes-item.causes-item-bg {
    padding: 47px 73px 54px;
    background-color: var(--basic-extra-grey);
}

.causes-item-bg-color div img {
    margin: 0;
}

.causes-item-house {
    padding: 60px 60px 82px;
}

.causes-item-house h3 {
    margin: 28px auto 25px;
}

.causes-item-food {
    padding: 61px 59px 82px 51px;
}

.causes-item-food h3 {
    margin: 28px auto 25px;
}

.causes-item-souvenirs {
    padding: 55px 65px 81px 59px;
}

.causes-item-souvenirs h3 {
    margin: 28px auto 25px;
}


/* Interested */

.interested {
    padding: 58px 0 0;
}

.interested h4 {
    margin: 0;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}

.interested p {
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-dark);
    margin: 4px auto 24px;
    padding: 24px 0 23px;
}


/* Search-button */

.search-button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--special-dark);
    border: none;
    width: 568px;
    height: 86px;
}

.search-button:hover {
    background-color: var(--special-extra-dark);
}

.search-button:active {
    background-color: var(--extra-dark);
    color: var(--basic-white-transparent);
}


/* Map */

.map {
    background: url(../img/map.png);
    height: 594px;
    width: 100%;
    position: relative;
}


/* iframe {
border: none;
} */


/* Main-footer */

.main-footer {
    background: var(--basic-white);
    opacity: 0.9;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-self: center;
}

.footer-contacts {
    margin: 23px auto 36px;
}

.footer-contacts b {
    display: block;
    margin-bottom: 9px;
}

.footer-contacts,
.footer-phone {
    text-transform: uppercase;
    font-size: 21px;
}

.footer-phone {
    text-decoration: none;
    color: inherit;
}

.footer-social {
    text-align: center;
    margin: 36px auto;
}

.footer-social-links {
    display: flex;
}

.footer-social-links li {
    padding: 0;
    margin: 0;
}

.footer-social-links li:not(:last-child) {
    margin-right: 6px;
}

.footer-social ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.footer-copyright {
    display: flex;
    justify-content: center;
}

.footer-copyright b {
    margin-right: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

.footer-catalog {
    position: static;
}

footer .container {
    box-shadow: none;
    box-shadow: 0 0 2px var(--special-extra-grey);
}


/* Social button */

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--basic-extra-blue);
    color: inherit;
    width: 46px;
    height: 48px;
}

.social-button:hover {
    background: var(--special-blue);
}

.social-button:active {
    background: var(--special-extra-blue);
    color: var(--extra-white-transparent);
}

.social-button:active path {
    fill: var(--extra-white-transparent);
}

.button-copyright svg:hover {
    fill: var(--basic-extra-blue);
}

.button-copyright svg:active {
    fill: var(--extra-grey);
}


/* Modal */

.modal {
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px var(--extra-dark-ransparent);
    width: 458px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -284px;
    padding: 55px;
}

.modal-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-search p {
    margin: 0;
    position: relative;
}

.modal-search p:nth-child(2) {
    margin-top: 29px;
    margin-bottom: 30px;
}

.modal-search label {
    display: inline-block;
    color: var(--basic-black);
    text-align: left;
    margin-right: 10px;
}

.modal-search p:nth-child(1) label {
    padding-right: 10px;
}

.modal-search p:nth-child(2) label {
    padding-right: 7px;
}

.modal-search p:nth-child(3) label {
    padding-right: 27px;
}

.modal-search p:nth-child(4) label {
    padding-right: 13px;
}

.modal-search input {
    background-color: var(--basic-neutral);
    border-color: var(--basic-neutral);
    color: var(--basic-black);
    border: 2px solid var(--basic-neutral);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
}

.modal-search input::placeholder {
    color: #000000;
    font-size: 14px;
    line-height: 21;
    font-weight: bold;
}

.modal-search p:nth-child(1) input {
    padding-left: 14px;
}

.modal-search p:nth-child(2) input {
    padding-left: 12px;
}

.button-calendar {
    display: inline;
    border: none;
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    padding: 0;
    background: transparent;
    fill: var(--extra-light-gray);
}

.button-calendar:hover path {
    fill: var(--basic-black);
}

.button-calendar:active path {
    fill: var(--basic-extra-blue);
}

.date {
    width: 346px;
    margin: 0;
    padding: 6px 214px 6px 15px;
}

.namber-of-guests {
    width: 114px;
    padding: 6px 39px 6px 39px;
    text-align: center;
}

.button-minus,
.button-plus {
    position: absolute;
    width: 38px;
    height: 38px;
    text-align: center;
    border: none;
    background: transparent;
}

.button-plus {
    right: 0;
}

.button-minus::before {
    content: "";
    width: 12px;
    height: 3px;
    position: absolute;
    background: #A9A9A9;
    top: 19px;
    left: 14px;
}

.button-minus:hover::before {
    background: var(--basic-black);
}

.button-minus:active::before {
    background: var(--basic-extra-blue);
}

.button-plus::after {
    content: "+";
    font-size: 21px;
    color: #A9A9A9;
    position: absolute;
    top: 8px;
    left: 14px;
}

.button-plus:hover:after {
    color: var(--basic-black);
}

.button-plus:active:after {
    color: var(--basic-extra-blue);
}

.modal-search input:hover {
    background-color: var(--special-grey);
}

.modal-search input:focus {
    background: var(--basic-white);
    border: 2px solid var(--special-extra-grey);
    outline: none;
}

.button-modal-search {
    font-family: "PT Sans", Arial, sans-serif;
    width: 100%;
    padding: 16px 182px 16px 181px;
    margin-top: 54px;
    margin-bottom: 0;
    background-color: var(--basic-extra-blue);
    border: none;
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.button-modal-search:hover {
    background: var(--special-blue);
}

.button-modal-search:active {
    background: var(--special-extra-blue);
    color: var(--extra-white-transparent);
}


/* Filter-houses */

.filter-houses {
    color: var(--basic-white);
    text-transform: uppercase;
    background-image: url("../img/background-catalog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 26.5px 73px 31px 72px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.filter-caption {
    font-family: inherit;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 25px;
}

.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
}

.filter-item {
    justify-self: center;
}

.filter-option:not(:last-child) {
    margin-bottom: 25px;
}

.filter-option {
    padding-left: 45px;
}

.filter-button {
    color: inherit;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 33px 6px 34px;
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
    justify-self: center;
}

.filter-button:hover {
    background: var(--basic-white);
    border: 2px solid var(--basic-white);
    color: var(--basic-black);
}

.filter {
    display: grid;
    grid-template-columns: 250px 480px 1fr;
    align-content: start;
}

.filter-infrastructure {
    grid-row-start: 1;
    grid-row-end: 3;
}

.filter-type-of-housing {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 220px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox:checked+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/Shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-infrastructure input:disabled+label::before {
    background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    left: -37px;
    width: 27px;
    height: 23px;
    background-image: url("../img/check_mark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-type-of-housing input:disabled+label::before {
    background-image: url("../img/checkbox-on-disabled.svg");
}

.range-caption {
    margin-bottom: 10px;
}

.price-controls {
    width: 317px;
    height: 36px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0;
}

.price-controls b:not(:last-child)::after {
    content: " ";
    position: absolute;
    top: 5px;
    margin-left: 70px;
    width: 2px;
    height: 20px;
    background: var(--basic-white);
}

.range-controls {
    position: relative;
    margin-top: 20px;
    margin-bottom: 33px;
}

.range-controls .scale {
    height: 2px;
    background: var(--basic-white-transparent);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0;
    width: 5px;
    height: 5px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle:hover {
    transform: scale(1.2);
}


/* Sort */

.sort {
    text-align: left;
}

.sort-block {
    display: flex;
    align-items: center;
    padding: 29px 73px 31px 73px;
}

.sort-list {
    display: flex;
}

.sort-dir {
    margin-left: 503px;
}

.sort-dir a:first-child {
    margin-right: 12px;
}

.icon-up-dir path:hover,
.icon-down-dir path:hover {
    fill: var( --basic-black);
}

.icon-up-dir path:active,
.icon-down-dir path:active {
    fill: var(--basic-extra-blue);
}

.icon-up-dir path:focus,
.icon-down-dir path:focus {
    fill: var(--basic-extra-blue);
}

ul.sort-list {
    margin: 0;
    padding: 0;
}

.sort-list li {
    list-style: none;
}

.sort-list-item:not(:last-child) {
    margin-right: 30px;
}

.sort-list-item a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: var(--basic-black-transparent);
    border-bottom: 1px dashed var(--basic-extra-blue);
}

.sort-list-item a:hover {
    color: var(--basic-extra-blue);
}

.sort-list-item a:focus {
    color: var(--basic-extra-blue);
    border: none;
}

.sort-list-item a:active {
    color: var(--basic-black);
    border: none;
}

ul.sort-content-list {
    padding: 0;
    margin: 0;
}

.sort-content-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;
    margin: 0;
    box-shadow: 0 0 2px var(--special-extra-grey);
}

.star {
    content: "";
    position: absolute;
    top: 15px;
    right: 73px;
    background-image: url("../img/star_four.svg");
    background-repeat: repeat-x;
    color: var(--basic-extra-blue);
    height: 17px;
}

.star-five {
    width: 116px;
}

.star-four {
    width: 92px;
}

.star-tree {
    width: 66px;
}

.star-two {
    width: 42px;
}

.star-one {
    width: 21px;
}

.sort-content-block {
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 23.5px;
}

.sort-caption {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    margin: 0;
    margin-right: 46px;
}

.sort-paragraph {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
    margin-right: 40px;
}

.sort-content-paragraph b:first-child {
    display: inline-block;
    width: 115px;
    margin-right: 2px;
}

.sort-rating {
    background-color: var(--basic-neutral);
    padding: 3px 12px 3px 15px;
    font-weight: 400;
    line-height: 21px;
    color: var(--basic-dark);
    align-self: flex-end;
    margin: 0 73px 30px 0;
}

.sort-content-img {
    margin-right: 29px;
    max-width: 135px;
    height: 90px;
    margin: 30px 29px 30px 73px;
}

.sort-content-img img {
    width: 100%;
}

.sort-content-block a {
    display: inline-block;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-style: normal;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sort-content-block a:hover {
    color: var(--basic-extra-blue);
}

.sort-content-block a:active {
    color: var(--basic-black-transparent);
}

.sort-content-paragraph {
    color: var(--basic-extra-dark);
    margin: 7px 0 15px;
    line-height: 21px;
    font-weight: 400;
}

.sort-button {
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    border: none;
    color: var(--basic-white);
    text-transform: uppercase;
}

.more-details.sort-button {
    background-color: var(--basic-extra-blue);
    padding: 3px 16px 3px 17px;
    margin-right: 3px;
}

.more-details.sort-button:hover {
    background: var(--special-blue);
}

.more-details.sort-button:active {
    background: var(--special-extra-blue);
    color: var(--extra-white-transparent);
}

.reservation.sort-button {
    background-color: var(--special-dark);
    padding: 3px 17px 3px 16px;
}

.reservation.sort-button:hover {
    background-color: var(--special-extra-dark);
}

.reservation.sort-button:active {
    background-color: var(--extra-dark);
    color: var(--basic-white-transparent);
}